@import "https://fonts.googleapis.com/css?family=Josefin+Sans|Lato";
body {
  min-width: 320px;
  font-family: "Lato", sans-serif;
  color: #3C0403;
}

.content {
  position: relative;
  background-color: white;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  justify-content: center;
  padding: 35px;
}

.bg-c1 {
  background-color: #D8C197;
}

.bg-c2 {
  background-color: #C8A667;
}

.bg-c4 {
  background-color: #531604;
}

.bg-c5 {
  background-color: #3C0403;
}

.bg-w {
  background-color: #f1f1f1;
}

.bg-g {
  background-color: #212121;
}

select, input {
  font-family: "Lato", sans-serif;
  color: #3C0403;
  display: block;
  margin: 0;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5px;
}
select:focus, input:focus {
  outline: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  align-content: center;
  justify-content: center;
  padding: 35px;
}
